$white: #ffffff;
$black: #000000;
$gray: #999999;
$gray-dark: #3e3e3e;
$gray-light: #ededed;

$gold: #f1cd4d;
$gold-light: #fbedab;
$gold-dark: #c19f26;

$background-light: #b6b2a0;
$background-dark: #0f0f0f;

$font-light: #fefdde;
$font-lighter: #fffeb6;
$font-dark: #ffe38f;
$font-darker: #333;
