$white: #ffffff;
$black: #000000;
$gray: #999999;
$gray-dark: #3e3e3e;
$gray-light: #ededed;

$gold: #f1cd4d;
$gold-light: #fbedab;
$gold-dark: #c19f26;

$background-light: #fff;
$background-dark: #0f0f0f;

$text-heading-light: #e6b609;
$text-heading-dark: #ebdb6e;
$font-dark: #333;
$font-light: #dedede;
