$white: #ffffff;
$black: #000000;
$gray: #999999;
$gray-dark: #3e3e3e;
$gray-light: #ededed;

$gold: #f1cd4d;
$gold-light: #fbedab;
$gold-dark: #c19f26;

$background-light: #b6b2a0;
$background-dark: #0f0f0f;

$font-light: #fefdde;
$font-lighter: #fffeb6;
$font-dark: #ffe38f;
$font-darker: #333;

//$background-dark: #1c2125;

// $gold-accent: #3be1dc;
// $gold-light-accent: #4b2493;

// $dark-bg-highlight: #2a2a2a;
// $light-bg-highlight: #e1e1f7;

// $panel-light: #f0f0f7;
// $panel-lighter: #f7f7fb;
// $panel-dark: #191919;
// $panel-darker: #121212;

// $border-light: #d5d5db;
// $border-lighter: #eaeaea;
// $border-dark: #2c2c2c;
// $border-darker: #1a1a1a;
