/* File: src/components/Header/Header.module.scss */
.header {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  background-color: transparent;
  padding: 1rem;
}

.logoWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}
