/* File: src/components/Footer/Footer.module.scss */
.footer {
  text-align: center;
  padding: 2rem 1rem;
  border-top: 1px solid #333;
  background-color: transparent;
  margin-top: auto;
  p {
    color: var(--font-light);
    font-size: 1rem;
  }
}
